<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
	    	<h1>Event List</h1>
	    	<a ui-sref="eventscreate" role="button" class="glyphicon glyphicon-plus btn btn-primary pull-right"></a>
	  	</div>
	  	<div>
			<table class="table table-striped" ng-init="init()">
			    <thead>
			      <tr>
			      	<th><a ng-click="sort('created')" >時間</a><span class="{{Header[0]}}"></th>
			        <th><a ng-click="sort('title')" >標題</a><span class="{{Header[1]}}"></th>
			        <th><a ng-click="sort('likes')" >讚好</a><span class="{{Header[1]}}"></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="event in ItemsByPage[currentPage]">
			      	<td>{{convertToDate(event.created) | date:'medium'}}</td>
			      	<td><a ui-sref="eventsedit({eventId:'{{event._id}}'})">{{event.title}}</a></td>
			      	<td><a ng-click="showLikes(event._id)">{{event.likes.length}}</a></td>
			        <td>
			        	<a ui-sref="eventsedit({eventId:'{{event._id}}'})" role="button" class="btn btn-info" ng-show="false">Edit</a>
			        	<a role="button" class="btn btn-danger" ng-click="remove(event._id);">Delete</a></td>
			        </td>
			      </tr>
			    </tbody>
			</table>
			<ul class="pagination pagination-sm">
	            <li ng-class="{active:0}"><a ng-click="firstPage()">First</a></li>
	            <li ng-repeat="n in range(ItemsByPage.length)"> <a href="#" ng-click="setPage()" ng-bind="n+1">1</a></li>
	            <li><a ng-click="lastPage()">Last</a></li>
	        </ul>
		</div>
		<modal title="Likes" visible="showModal">
			<div class="list-group">
				<li class="list-group-item" ng-repeat="user in likes">
					{{user.username}} 
					<span ng-show="isMember(user._id)" class="glyphicon glyphicon-ok text-success pull-right">會員</span>
					<span ng-hide="isMember(user._id)" class="glyphicon glyphicon-plus text-primary pull-right">成為會員</span>
				</li>
			</div>
		</modal>
	</div>	