<div class="col-md-3 col-md-offset-1">
	  <div class="page-header">
	    <h1>Edit Event</h1>
	  </div>

	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>

	  <form ng-submit="update()"
	    style="margin-top:30px;">
		
	    <div class="form-group">
	    	<label class="control-label" for="username">Title:</label>
	      <input type="text"
	      class="form-control"
	      placeholder="Title"
	      ng-model="event.title"></input>
	    </div>
		<div class="form-group">
			<label class="control-label" for="username">Detail:</label>
	      <textarea class="form-control" rows="5" ng-model="event.detail"></textarea>
	    </div>
	    <div class="form-group">
			<label class="control-label">Condition:</label>
		    <textarea class="form-control" rows="5" ng-model="event.condition"></textarea>
	    </div>
	    <label class="control-label" for="username">Validate:</label>
	    <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.publishDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

        <label class="control-label" for="username">To:</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.invalidate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div class="form-group">
        <label class="control-label" for="username">Link:</label>
	      <input type="text"
	      class="form-control"
	      placeholder="Link"
	      ng-model="event.link"></input>
	    </div>
	    <div>
	    	<label class="control-label" for="username">Rules:</label>
			<table class="table" ng-show="event.rules.length">
			    <tbody>
			      <tr ng-repeat="rule in event.rules track by $index">
			      	<td>{{rule}}<a role="button" class="btn btn-danger pull-right" ng-click="removeRule($index)">Delete</a></td>
			      </tr>
			    </tbody>
			</table>
		</div>
		<div class="form-group">
			<div class="input-group">
		    	<input type="text" class="form-control" placeholder="Add rule..." ng-model="newRule">
		    		<span class="input-group-btn">
		        	<button class="btn btn-primary" type="button" ng-click="addRule()">+</button>
		      	</span>
		    </div>
		</div>
	    <div>
	    	<label class="control-label" for="username">ImageUrl:</label>
			<table class="table">
			    <tbody>
			      <tr ng-repeat="image in event.imageUrl track by $index">
			      	<td><img width="20%" src="upload/{{image}}" alt=""></td>
			        <td>
			        	<a role="button" class="btn btn-danger" ng-click="removeImage($index)">Delete</a></td>
			        </td>
			      </tr>
			    </tbody>
			</table>
			<div ng-hide="event.imageUrl.length">No Image Attached</div>
		</div>
		<div class="button" ngf-select="upload($files)" ngf-multiple="true" ng-hide="true">Select File</div>
	    Drop File:
	    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
	        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
	        accept="image/*,application/pdf" 
	        ngf-pattern="'image/*,application/pdf'">Drop images here or click to upload</div>
	    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

	    <!-- Split button -->
	    <div class="btn-group" uib-dropdown>
	      <button id="split-button" type="submit" class="btn btn-danger" ng-click="event.published=true">發佈</button>
	      <button type="button" class="btn btn-danger" uib-dropdown-toggle>
	        <span class="caret"></span>
	        <span class="sr-only">Split button!</span>
	      </button>
	      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
	        <li role="menuitem"><a ng-click="event.published=true;update()">發佈</a></li>
	        <li role="menuitem"><a ng-click="event.published=false;update()">草稿</a></li>
	      </ul>
	    </div>
	  </form>
</div>
<div class="col-md-6 col-md-offset-1">
	<div class="page-header">
	    <h1>Comments</h1>
	</div>
	<div class="form-group">
		<div class="input-group">
	    	<input type="text" class="form-control" placeholder="Add comment..." ng-model="newComment">
	    		<span class="input-group-btn">
	        	<button class="btn btn-success" type="button" ng-click="addComment()">Reply</button>
	      	</span>
	    </div>
	</div>
	<div>
		<table class="table table-striped" ng-init="init()">
		    <thead>
		      	<tr>
		      		<th>時間</th>
		      		<th>作者</th>
		      		<th>內容</th>
		      	</tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="comment in ItemsByPage[currentPage]">
		      	<td>{{convertToDate(comment.created) | date:'medium'}}</td>
		      	<td>{{comment.sender.username}}</td>
		      	<td>{{comment.message}}</td>
		      </tr>
		    </tbody>
		</table>
		<ul class="pagination pagination-sm">
            <li ng-class="{active:0}"><a ng-click="firstPage()">First</a>

            </li>
            <li ng-repeat="n in range(ItemsByPage.length)"> <a href="#" ng-click="setPage()" ng-bind="n+1">1</a>

            </li>
            <li><a ng-click="lastPage()">Last</a>

            </li>
        </ul>
	</div>
</div>