<div style="height: 550px;padding-bottom: 104px;top: 50px;position: relative;" class="text-center">
	<div style="display: table;position: relative;height: 100%;width: 100%;">
	<div style="vertical-align: middle;display: table-cell;">
	    <h1 style="font-size: 60px;font-weight: 700;text-transform: uppercase;">Home</h1>
	    <h4 style="text-transform: uppercase;margin-bottom: 25px;">This is the subtitle of home page</h4>
	    <a style="border-color: #565a5c;border-bottom-color: #383b3c;background-color: #565a5c;text-decoration: none;-webkit-font-smoothing: antialiased;background: rgba(255,255,255,0.5);border-style: none;" href="#" class="btn btn-large">Button</a>
	</div>
	</div>
</div>