<div class="custom-background">
		<img src="/images/background.jpg" alt="" style="width: 100%; height:auto; ">
	</div>
<div class="va-content text-center">
	<div class="va-container va-container-v va-container-h ">
	<div class="va-middle">
	    <h1 class="text-branding text-jumbo text-contrast">Home</h1>
	    <h4 class="text-branding text-contrast space-4">This is the subtitle of home page</h4>
	    <a href="#" class="btn btn-large btn-contrast btn-semi-transparent">Button</a>
	</div>
	</div>  	
</div>