<div class="col-md-2 col-md-offset-1">
	  <div class="page-header">
	    <h1>Edit Shop</h1>
	  </div>

	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>

	  <form ng-submit="update()"
	    style="margin-top:30px;">
		
	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Business"
	      ng-model="shop.business"></input>
	    </div>
		<div class="form-group">
	      <select class="form-control" id="type"
	      ng-model="shop.type" ng-options="type for type in types">
	      	<option value="" selected>選擇行業</option>
	      </select>
	    </div>
	    <div class="form-group">
	      <select class="form-control" id="region"
	      ng-model="shop.region" ng-options="c.name as c.name for c in regions" ng-change="">
	      	<option value="" selected>選擇地區</option>
	      </select>
	    </div>
	    <div ng-show="isAdmin()" class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="major"
	      ng-model="shop.major"></input>
	    </div>
	    <div ng-show="isAdmin()" class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="minor"
	      ng-model="shop.minor"></input>
	    </div>
	    <div ng-show="isAdmin()" class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="QR Code"
	      ng-model="shop.qrCode"></input>
	    </div>
	    <div ng-show="isAdmin()" class="form-group">
	      <select class="form-control" id="admin"
	      ng-model="shop.admin" ng-options="admin._id as admin.username for admin in admins">
	      	<option value="" selected>選擇管理員</option>
	      </select>
	    </div>
	    <div><button type="submit" class="btn btn-primary">Edit</button></div>
	  </form>
</div>
<div class="col-md-7 col-md-offset-1">
	<div class="page-header">
	    <h1>Members</h1>
	</div>
	<div>
		<div class="input-group">
            <input class="form-control" ng-model="searchText" placeholder="Search" type="search"/> 
            <span class="input-group-addon">
			      <span class="glyphicon glyphicon-search"></span>
			</span>
			<a ui-sref="cardscreate" role="button" class="glyphicon glyphicon-plus btn btn-primary pull-right"></a>
        </div>

		<table class="table table-striped" ng-init="init()">
		    <thead>
		      <tr>
		      	<th class="owner.username"><a ng-click="sort('owner.username')" >名稱<span class="{{Header[0]}}"></a></th>
		      	<th class="number"><a ng-click="sort('number')" >會員編號<span class="{{Header[1]}}"></a></th>
		      	<th class="tier"><a ng-click="sort('tier')" >會員級別<span class="{{Header[2]}}"></a></th>
		      	<th class="valid"><a ng-click="sort('valid')" >正式會員<span class="{{Header[3]}}"></a></th>
		      	<th class="point"><a ng-click="sort('point')" >積分<span class="{{Header[4]}}"></a></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="member in shop.members | orderBy:columnToOrder:reverse | filter:filterExp(searchText):false">
		      	<td><a ui-sref="cardsedit({cardId:'{{member._id}}'})">{{member.owner.username}}</a></td>
		      	<td>{{member.number}}</td>
		      	<td>{{member.tier}}</td>
		      	<td>
			       	<span ng-show="{{member.valid}}" class="glyphicon glyphicon-ok text-success"></span>
			        <span ng-hide="{{member.valid}}" class="glyphicon glyphicon-remove text-danger"></span>
			    </td>
		      	<td>{{member.point}}</td>
		      </tr>
		    </tbody>
		</table>
		<ul class="pagination pagination-sm">
            <li ng-class="{active:0}"><a ng-click="firstPage()">First</a>

            </li>
            <li ng-repeat="n in range(ItemsByPage.length)"> <a href="#" ng-click="setPage()" ng-bind="n+1">1</a>

            </li>
            <li><a ng-click="lastPage()">Last</a>

            </li>
        </ul>
	</div>
</div>
