<div>
		<div class="page-header">
	    	<h1>Stop List</h1>
	    	<a ui-sref="stopscreate" role="button" class="glyphicon glyphicon-plus btn btn-primary pull-right"></a>
	  	</div>
	  	<div>
			<table class="table table-striped">
			    <thead>
			      <tr>
			      	<th>站名</th>
			        <th>地區</th>
			        <th>分區</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr  ng-repeat="stop in stops | orderBy: 'code'">
			      	<td><a ui-sref="stopsedit({stopId: '{{stop._id}}'})">{{stop.displayName}}</a></td>
			        <td>{{stop.region}}</td>
			        <td>{{stop.subRegion}}</td>
			        <td>
			        	<a ui-sref="stopsedit({stopId: '{{stop._id}}'})" role="button" class="btn btn-info">Edit</a>
			        	<a role="button" class="btn btn-danger" ng-click="remove(stop._id);">Delete</a></td>
			        </td>
			      </tr>
			    </tbody>
			</table>
		</div>

	</div>	